{% block field %}
	<div class="form-field {{ field.classes|default('') }}">
		<div class="form-data">
			<wysiwyg-hax
				open-default
				element-align="left"
		        offset-margin="66px 0px 0px 0px"
				app-store-connection='{{ appStoreConnection }}'
				field-name="{{ (scope ~ field.name)|fieldName }}"
				class="hax-editor"
			>
			{{ haxSlotArea|raw }}
		  </wysiwyg-hax>
		<script>document.querySelector('wysiwyg-hax').saveButtonSelector = document.querySelector('button[type="submit"]');</script>
		</div>
	</div>
{% endblock %}
